# ======================
# Python
# ======================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3

# ======================
# FastAPI logs
# ======================
*.log

# ======================
# Node / Angular
# ======================
frontend/node_modules/
frontend/dist/
frontend/.angular/

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

# ======================
# VS Code
# ======================
.vscode/

# ======================
# Environment files
# ======================
.env
.env.*